In [1]:
!pip install pandas sqlalchemy sqlite3

Requirement already satisfied: pandas in d:\python\lib\site-packages (2.2.2)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl.metadata (9.8 kB)

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install sqlalchemy

Collecting sqlalchemy
  Using cached SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 991.0 kB/s eta 0:00:03
   - -------------------------------------- 0.1/2.1 MB 656.4 kB/s eta 0:00:04
   - -------------------------------------- 0.1/2.1 MB 845.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 1.2 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/2.1 MB 1.4 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.9 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 2.5 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 2.9 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.6 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
   ---------------------------------------- 0.0/293.6 kB ? eta -:--:--
   ---------------------------------------- 293.6/293.6 kB ? eta 0:00:00
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.32 typing-extensions-4.12.2

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Extraccion de datos y transformacion de archivos csv a base de datos

In [6]:
import pandas as pd
from sqlalchemy import create_engine

# Lista de nombres de archivos CSV
csv_files = [
    'activities (1).csv', 
    'events.csv', 
    'medals.csv', 
    'one-star-michelin-restaurants.csv', 
    'patiotuerca2023-02-101.csv', 
    'patiotuerca2023-02-102.csv', 
    'Spotify Songs 2023.csv',
    'tv_shows_data.csv'
]

# Cargar cada archivo CSV en un DataFrame con manejo de codificación
dataframes = {}
for file in csv_files:
    df_name = file.split('.')[0]  # Nombre del DataFrame basado en el nombre del archivo
    try:
        dataframes[df_name] = pd.read_csv(file, encoding='utf-8')  # Intenta cargar con utf-8
    except UnicodeDecodeError:
        dataframes[df_name] = pd.read_csv(file, encoding='latin1')  # Si falla, usa latin1

# Crear una conexión a una base de datos SQLite
engine = create_engine('sqlite:///mi_base_de_datos.db')

# Guardar cada DataFrame como una tabla en la base de datos SQL
for name, df in dataframes.items():
    df.to_sql(name, con=engine, index=False, if_exists='replace')
    print(f"Tabla '{name}' guardada en la base de datos.")

from sqlalchemy import text

# Verifica las tablas creadas
with engine.connect() as con:
    result = con.execute(text("SELECT name FROM sqlite_master WHERE type='table';"))
    tables = result.fetchall()
    print("Tablas en la base de datos:")
    for table in tables:
        print(table[0])

Tabla 'activities (1)' guardada en la base de datos.
Tabla 'events' guardada en la base de datos.
Tabla 'medals' guardada en la base de datos.
Tabla 'one-star-michelin-restaurants' guardada en la base de datos.
Tabla 'patiotuerca2023-02-101' guardada en la base de datos.
Tabla 'patiotuerca2023-02-102' guardada en la base de datos.
Tabla 'Spotify Songs 2023' guardada en la base de datos.
Tabla 'tv_shows_data' guardada en la base de datos.
Tablas en la base de datos:
activities (1)
events
medals
one-star-michelin-restaurants
patiotuerca2023-02-101
patiotuerca2023-02-102
Spotify Songs 2023
tv_shows_data

In [7]:
!pip install pymongo

Requirement already satisfied: pymongo in d:\python\lib\site-packages (4.7.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in d:\python\lib\site-packages (from pymongo) (2.6.1)

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Conversion de base de datos sql a no sql

In [11]:
from pymongo import MongoClient

# Conectar a MongoDB (cambia 'your_username', 'your_password' y 'your_cluster_url' por los valores reales)
client = MongoClient('mongodb+srv://jp7mavort:12345@final.012d6.mongodb.net/')

# Crear una base de datos en MongoDB
db = client['mi_base_de_datos_nosql']

In [12]:
# Verificar la conexión listando las bases de datos en MongoDB
print(client.list_database_names())

['AutoPartsXpress', 'sample_mflix', 'admin', 'local']

In [15]:
# Leer las tablas que existen en la base de datos SQLite
table_names = ['medals', 'events']  # Ajusta la lista con las tablas que existen

dataframes = {}
for name in table_names:
    dataframes[name] = pd.read_sql(f"SELECT * FROM {name}", con=engine)
    
# Verifica que las tablas se han cargado correctamente
for name, df in dataframes.items():
    print(f"Primeras filas de la tabla '{name}':")
    print(df.head(), "\n")

Primeras filas de la tabla 'medals':
     medal_type  medal_code  medal_date             name country_code gender  \
0    Gold Medal           1  2024-07-27  Remco EVENEPOEL          BEL      M
1  Silver Medal           2  2024-07-27    Filippo GANNA          ITA      M
2  Bronze Medal           3  2024-07-27    Wout van AERT          BEL      M
3    Gold Medal           1  2024-07-27      Grace BROWN          AUS      W
4  Silver Medal           2  2024-07-27   Anna HENDERSON          GBR      W

     discipline                          event event_type  \
0  Cycling Road    Men's Individual Time Trial        ATH
1  Cycling Road    Men's Individual Time Trial        ATH
2  Cycling Road    Men's Individual Time Trial        ATH
3  Cycling Road  Women's Individual Time Trial        ATH
4  Cycling Road  Women's Individual Time Trial        ATH

                                           url_event     code
0  /en/paris-2024/results/cycling-road/men-s-indi...  1903136
1  /en/paris-2024/results/cycling-road/men-s-indi...  1923520
2  /en/paris-2024/results/cycling-road/men-s-indi...  1903147
3  /en/paris-2024/results/cycling-road/women-s-in...  1940173
4  /en/paris-2024/results/cycling-road/women-s-in...  1912525

Primeras filas de la tabla 'events':
                event      tag    sport sport_code  \
0    Men's Individual  archery  Archery        ARC
1  Women's Individual  archery  Archery        ARC
2          Men's Team  archery  Archery        ARC
3        Women's Team  archery  Archery        ARC
4          Mixed Team  archery  Archery        ARC

                                           sport_url
0  https://olympics.com/en/paris-2024/sports/archery
1  https://olympics.com/en/paris-2024/sports/archery
2  https://olympics.com/en/paris-2024/sports/archery
3  https://olympics.com/en/paris-2024/sports/archery
4  https://olympics.com/en/paris-2024/sports/archery

In [16]:
# Insertar cada DataFrame como una colección en MongoDB
for name, df in dataframes.items():
    collection = db[name]  # Crear una colección con el nombre de la tabla
    data_dict = df.to_dict('records')  # Convertir el DataFrame a una lista de diccionarios
    collection.insert_many(data_dict)  # Insertar los datos en MongoDB
    print(f"Datos de la tabla '{name}' insertados en la colección MongoDB '{name}'")

Datos de la tabla 'medals' insertados en la colección MongoDB 'medals'
Datos de la tabla 'events' insertados en la colección MongoDB 'events'

In [17]:
# Listar las colecciones en la base de datos MongoDB
collections = db.list_collection_names()
print("Colecciones en la base de datos MongoDB:")
for collection in collections:
    print(collection)

Colecciones en la base de datos MongoDB:
medals
events

In [ ]:
# Conversion de base de datos nosql a sql

In [18]:
from pymongo import MongoClient
import pandas as pd
from sqlalchemy import create_engine

# Conectar a MongoDB
client = MongoClient('mongodb+srv://jp7mavort:12345@final.012d6.mongodb.net/')

# Seleccionar la base de datos y la colección que deseas convertir
db = client['mi_base_de_datos_nosql']
collection = db['medals']  # Ejemplo: colección 'medals'

# Leer los datos de la colección y convertirlos en un DataFrame de pandas
data = list(collection.find())  # Convertir la colección en una lista de diccionarios
df = pd.DataFrame(data)

# Mostrar las primeras filas para verificar que se han cargado correctamente
print(df.head())

                        _id    medal_type  medal_code  medal_date  \
0  66baf13bd30a77da8d94c8cb    Gold Medal           1  2024-07-27
1  66baf13bd30a77da8d94c8cc  Silver Medal           2  2024-07-27
2  66baf13bd30a77da8d94c8cd  Bronze Medal           3  2024-07-27
3  66baf13bd30a77da8d94c8ce    Gold Medal           1  2024-07-27
4  66baf13bd30a77da8d94c8cf  Silver Medal           2  2024-07-27

              name country_code gender    discipline  \
0  Remco EVENEPOEL          BEL      M  Cycling Road
1    Filippo GANNA          ITA      M  Cycling Road
2    Wout van AERT          BEL      M  Cycling Road
3      Grace BROWN          AUS      W  Cycling Road
4   Anna HENDERSON          GBR      W  Cycling Road

                           event event_type  \
0    Men's Individual Time Trial        ATH
1    Men's Individual Time Trial        ATH
2    Men's Individual Time Trial        ATH
3  Women's Individual Time Trial        ATH
4  Women's Individual Time Trial        ATH

                                           url_event     code
0  /en/paris-2024/results/cycling-road/men-s-indi...  1903136
1  /en/paris-2024/results/cycling-road/men-s-indi...  1923520
2  /en/paris-2024/results/cycling-road/men-s-indi...  1903147
3  /en/paris-2024/results/cycling-road/women-s-in...  1940173
4  /en/paris-2024/results/cycling-road/women-s-in...  1912525

In [23]:
# Convertir ObjectId a str en la columna '_id'
df['_id'] = df['_id'].astype(str)

# Ahora, guarda el DataFrame en la base de datos SQL
df.to_sql('medals_sql', con=engine, index=False, if_exists='replace')

from sqlalchemy import text

# Verificar que la tabla se ha creado correctamente
with engine.connect() as con:
    result = con.execute(text("SELECT * FROM medals_sql LIMIT 5;"))
    for row in result:
        print(row)

('66baf13bd30a77da8d94c8cb', 'Gold Medal', 1, '2024-07-27', 'Remco EVENEPOEL', 'BEL', 'M', 'Cycling Road', "Men's Individual Time Trial", 'ATH', '/en/paris-2024/results/cycling-road/men-s-individual-time-trial/fnl-000100--', '1903136')
('66baf13bd30a77da8d94c8cc', 'Silver Medal', 2, '2024-07-27', 'Filippo GANNA', 'ITA', 'M', 'Cycling Road', "Men's Individual Time Trial", 'ATH', '/en/paris-2024/results/cycling-road/men-s-individual-time-trial/fnl-000100--', '1923520')
('66baf13bd30a77da8d94c8cd', 'Bronze Medal', 3, '2024-07-27', 'Wout van AERT', 'BEL', 'M', 'Cycling Road', "Men's Individual Time Trial", 'ATH', '/en/paris-2024/results/cycling-road/men-s-individual-time-trial/fnl-000100--', '1903147')
('66baf13bd30a77da8d94c8ce', 'Gold Medal', 1, '2024-07-27', 'Grace BROWN', 'AUS', 'W', 'Cycling Road', "Women's Individual Time Trial", 'ATH', '/en/paris-2024/results/cycling-road/women-s-individual-time-trial/fnl-000100--', '1940173')
('66baf13bd30a77da8d94c8cf', 'Silver Medal', 2, '2024-07-27', 'Anna HENDERSON', 'GBR', 'W', 'Cycling Road', "Women's Individual Time Trial", 'ATH', '/en/paris-2024/results/cycling-road/women-s-individual-time-trial/fnl-000100--', '1912525')

In [ ]:
#Exportacion de un tipo .json para conversion a .csv

In [25]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('patiotuerca2023-02-101.csv')

# Verificar las primeras filas del DataFrame
print(df.head())

# Exportar el DataFrame a un archivo JSON
df.to_json('patiotuerca2023-02-101.json', orient='records', lines=True)

print("El archivo 'patiotuerca2023-02-101.csv' ha sido exportado a 'patiotuerca2023-02-101.json'")

    Año  Kilómetraje  Precio     Lugar Negociacion Categoría       Marca  \
0  2016        71000    40.9      Loja  Negociable      USED        Ford
1  2016        98000    23.9     Quito  Negociable      USED  Mitsubishi
2  2022        39000    37.9     Quito  Negociable      USED      Toyota
3  2008       224000    10.9     Quito  Negociable      USED      Nissan
4  2013       151000    26.5  Riobamba  Negociable      USED        Ford

       Subtipo        Modelo Publicación  ... Color Último número de la placa  \
0  Todoterreno      Explorer         NaN  ...   NaN                       NaN
1  Todoterreno     Outlander         NaN  ...   NaN                       NaN
2  Todoterreno         RAV 4         NaN  ...   NaN                       NaN
3  Todoterreno       X-Trail         NaN  ...   NaN                       NaN
4  Todoterreno  Explorer XLT         NaN  ...   NaN                       NaN

  Dirección Motor(cilindraje) Tapizado Placa Tipo de Motor  Entrada desde  \
0       NaN               NaN      NaN   NaN           NaN            NaN
1       NaN               NaN      NaN   NaN           NaN            NaN
2       NaN               NaN      NaN   NaN           NaN            NaN
3       NaN               NaN      NaN   NaN           NaN            NaN
4       NaN               NaN      NaN   NaN           NaN            NaN

  Cuotas desde  Número de cuotas
0          NaN               NaN
1          NaN               NaN
2          NaN               NaN
3          NaN               NaN
4          NaN               NaN

[5 rows x 26 columns]
El archivo 'patiotuerca2023-02-101.csv' ha sido exportado a 'patiotuerca2023-02-101.json'